/* body,
html {
  height: 100%;
} */
.divhero {
  height: 50vh;
}

.texthero1 {
  font-size: 70px;
  color: rgb(112, 103, 3);
  text-shadow: 5px 2px white;
}
.texthero2 {
  font-size: 70px;
  color: rgb(46, 151, 4);
  text-shadow: 5px 2px white;
}
.logo2 {
  width: 170;
  height: 150;
  border-radius: 50%;
  box-shadow: 5px 2px rgb(46, 151, 4);
}

.xxx {
  background: rgba(73, 67, 0, 0.158);
}
.xxx-xxx {
  background: rgb(17, 12, 59);
}
.heroimage {
  height: auto;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  min-width: 1024px;
  /* opacity: 0.6; */
}
.divherocontact {
  height: 100%;
  margin-top: 100px;
}
.heroimagecontact {
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 50%;
  min-width: 1024px;
}
